---
import LeaderboardEntry from './LeaderboardEntry.astro'
---

<div>
    <LeaderboardEntry
        rank={1}
        name="JHobz"
        img=""
        points={1350}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={2}
        name="ZakTheRobot"
        img=""
        points={1200}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={3}
        name="Atzero"
        img=""
        points={1121}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={4}
        name="Spikevegeta"
        img=""
        points={1094}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={5}
        name="riopeace"
        img=""
        points={916}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={6}
        name="RebelWatt"
        img=""
        points={855}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={7}
        name="Aceuhh"
        img=""
        points={723}
        averageTime="2:02:12"
    />
    <LeaderboardEntry
        rank={8}
        name="Komi"
        img=""
        points={698}
        averageTime="2:02:12"
    />
    <section>
        <LeaderboardEntry
            rank={9}
            name="CJ"
            img=""
            points={555}
            averageTime="2:02:12"
        />
    </section>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        /* background: var(--background-200); */
        background: var(--primary-5);
        padding: 2em;
        border-radius: 10px;

        & > :last-child {
            background: var(--primary-30);
        }
    }
</style>
