@import url('https://fonts.googleapis.com/css?family=Sofia%20Sans%20Semi%20Condensed:700|Noto%20Sans%20Hanunoo:400');
@import 'tailwindcss';
@plugin "daisyui";

@font-face {
    font-family: khmenu;
    src: url('/fonts/KHMenu.otf');
}

@plugin "daisyui/theme" {
    name: 'dark';
    default: false;
    prefersdark: true;
    color-scheme: 'dark';
    --color-base-100: oklch(32.11% 0 89.88);
    --color-base-200: oklch(21.78% 0 89.88);
    --color-base-300: oklch(15.91% 0 89.88);
    --color-base-content: oklch(99.11% 0 89.88);
    --color-primary: oklch(79.72% 0.073 277.66);
    --color-primary-content: oklch(35% 0.144 278.697);
    --color-secondary: oklch(63.54% 0.243 29.21);
    --color-secondary-content: oklch(97% 0.013 17.38);
    --color-accent: hsl(56, 99%, 52%);
    --color-accent-content: oklch(42% 0.095 57.708);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(97% 0 0);
    --color-base-200: oklch(87% 0 0);
    --color-base-300: oklch(70% 0 0);
    --color-base-content: oklch(9.69% 0 89.88);
    --color-primary: oklch(25.15% 0.094 271.17);
    --color-primary-content: oklch(87% 0.065 274.039);
    --color-secondary: oklch(53.65% 0.232 29.65);
    --color-secondary-content: oklch(93% 0.032 17.717);
    --color-accent: oklch(90.09% 0.19 104.06);
    --color-accent-content: oklch(42% 0.095 57.708);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

:root {
    --font-sans: 'Noto Sans Hanunoo';
    --font-headers: 'Sofia Sans Semi Condensed';

    --color-world-twtnw: #b9b7de;
    --color-world-lod: #ff5533;
    --color-world-ht: #c180ff;
    /* --color-world-oc: #ddff50; */
    --color-world-oc: #6db955;
    --color-world-tt: #ff8c1a;
    --color-world-pr: #8299ff;
    --color-world-sp: #6667cd;
    /* --color-world-bc: #ff51bf; */
    --color-world-bc: #ff9bce;
    --color-world-ag: #febe16;
    --color-world-pl: #f54933;
    --color-world-hb: #ff8792;
    --color-world-dc: #2ecdfd;
    --color-world-stt: #89c7e6;
    /* --color-world-1aw: #f9f82b; */
    --color-world-1aw: #ffff6b;
    /* --color-world-goa: #000000; */
    --color-world-goa: #b0e2f8;
    --color-world-atl: #83ffd5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headers);
    font-weight: 700;
}
