---
export const prerender = false
import { app } from '../firebase/server'
import { getAuth } from 'firebase-admin/auth'
import Layout from '../layouts/Layout.astro'
import H1 from '../components/H1.astro'

const auth = getAuth(app)

/* Check current session */
if (!Astro.cookies.has('__session')) {
    return Astro.redirect('/signin')
}
const sessionCookie = Astro.cookies.get('__session')!.value
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)

if (!user) {
    return Astro.redirect('/signin')
}
---

<Layout title="dashboard">
    <H1>Welcome, {user.displayName}</H1>
    <p>We're happy to see you here</p>
    <form class="mt-3" action="/api/auth/signout">
        <button class="btn btn-outline" type="submit">Sign out</button>
    </form>
</Layout>
