---
import Layout from '../layouts/Layout.astro'
import FullLeaderboard from '../components/leaderboard/FullLeaderboard.astro'
---

<Layout>
    <h1>Leaderboard</h1>
    <FullLeaderboard />
</Layout>
