---
import '../styles/global.css'
import Nav from '../components/Nav.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>KH2 Randomizer League</title>
    </head>
    <body>
        <Nav />
        <slot />
    </body>
</html>

<style>
    body {
        margin: auto;
        max-width: 1000px;
    }
</style>
